[Desktop Entry]
Version=1.0
Type=Application
Name=Productivity Tracker
Exec=python3 /home/rahul/Desktop/projects/Productivity_tracker/app.py
Icon=/home/rahul/Desktop/projects/Productivity_tracker/icon.svg
Terminal=true
Categories=Utility;Application;
