[Desktop Entry]
Name=Productivity Tracker
Exec=productivity_tracker
Icon=icon
Type=Application
Categories=Utility;
Comment=Track your productivity with face detection and global input tracking.
