[Desktop Entry]
Version=4.0
Type=Application
Name=Productivity Tracker
Exec=python3 /home/rahul/Desktop/projects/Productivity_tracker/app.py 
Icon=/home/rahul/Desktop/projects/Productivity_tracker/resources/others/icon.svg
Terminal=true
Categories=Utility;Application;